# sitemap settings

template: sitemap.twig
xml_template: sitemap_xml.twig

# Name of this sitemap. Can be used to create a sub-sitemap loaded somewhere else
sitemap_name: sitemap

ignore:
  - /page/home
  - /page/error404
  - /page/private
  - /news/.*

## ignore by "slug" of contenttype
#ignore_contenttype:
#  - pages

# Ignore taxonomie slugs
# ignore_taxonomytype:
#  - tags


## listing routes (contenttype_slug: route_name)
#listing_routes:
#  pages: custom_pages_route

## ignore listing templates
#ignore_listing: true

## ignore images (by default the sitemap contains links to images)
ignore_images: false

# Do you need hydrated records? Thiscan have severe performance impacts!
# hydrate: false

## when ignore_listing is not = true: listings templates may not exist yet may contain child pages.
## add path will keep listing visible in tree but remove its link.
#remove_link:
#  - /pages

## ignore enties with given flags (eg. noindex)
#ignore_flags:
#  noindex: 1
